.notification_container {
    max-width: 400px; 
    background: skyblue;
    border-radius: 5px;
    padding: 10px;

    position: fixed;
    top: 75px;
    right: 75px
}

.notification_container pre {
    text-wrap: wrap;
}